.App {
  text-align: center;
  justify-content: center;
}
* {
  box-sizing: border-box;
}
body {
  margin: 20px;
  align-items: center;
}
.Navbar {
  height: 80px;
  display: flex;
  padding: 20px 20px;
  box-shadow: 3px 2.9px 5.5px rgba(142, 133, 223, 0.904);
}
.hero {
  margin-top: 10px;
  padding: 20px;
}
#img-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-self: center;

 }
 #img-wrapper > div {
  flex: 0 1 33%;
 }


.iceland-photo {
  max-width: 200px;
  border-radius: 5px;
}
.flowers {
  max-width: 200px;
  border-radius: 5px;
  margin: 5px;
}
.puffins {
  max-width: 200px;
  border-radius: 5px;
  margin: 5px;
}
.sea {
  max-width: 200px;
  border-radius: 5px;
  margin: 5px;
}
.wind {
  max-width: 200px;
  border-radius: 5px;
  margin: 5px;
}

.hero-header {
  margin-bottom: 16px;
}
.hero-text { 
  margin-top: 5px;
}
.card {
  margin-left: 10px;
  width: 500px;
  display: column;
  justify-content: center;
  align-items: 'center';
  font: 16px;
}
.beach {
 width: 500px;
 border-radius: 10px;
 border-width: 5px;
 padding-bottom: 2px;
}
.lake {
  width: 500px;
}
.parachute {
  width: 500px;
  border-radius: 10px;
}
.bold {
  font-weight: bold;
}